[Desktop Entry]
Version=1.0
Type=Application
Name=WebScraper
Comment=Scraper for restaurant orders
Exec=/home/edo/Projects/webscraper/run_scraper.sh
Icon=utilities-terminal
Terminal=true
Categories=Utility;

